.dashboard {
    section.left-aside.admin {

    }

    section.main-content {
        height: 100%;
    }

    section.main-content::-webkit-scrollbar {
        display: none;
    }

    .progress-container {
        background-color: transparentize($primary-color, 0.7);
        margin-bottom: $sm;
        width: 100%;
    }

    .upload-progress {
        color: $off-white;
        border-radius: 3px;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        text-align: center;
        background-color: $primary-color;
    }

    .add-image-button {
        color: $primary-color;
        background-color: transparent;
        border: 1px solid $primary-color;
        box-shadow: none;
    }
    .add-image-button:hover {
        background-color: $primary-color;
        color: $off-white;
    }

    .add-service {
        background-color: $primary-color;
    }
    .add-service:hover {
        background-color: darken($primary-color, 5%);
    }
}