.dashboard {
    section.left-aside.admin {

    }

    section.maoin-content {

    }

    .upload-progress {
        // height: $lg;
        color: $off-white;
        border-radius: 3px;
        padding-top: $xs;
        padding-bottom: $xs;
        text-align: center;
        background-color: $primary-color;
    }
}