.dashboard {
    margin: $md;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-column-gap: $sm;

    section {
        background-color: $off-white;
        border-radius: 5px;
        padding: $normal;
    }

    .left-aside {
        div {
            padding-bottom: $normal;
        }

        div:first-child {
            border-bottom: 1px solid darken($off-white, 10%);
        }

        div:last-child {
            border-top: 1px solid darken($off-white, 10%);
        }

        h6 {
            font-weight: bold;
        }

        h6 span.profile-icon {
            color: $off-black;
            margin-right: $xs;
            position: relative;
            top: 2px;
        }

        ul {
            margin-left: $md;
            margin-top: $normal;
        }

        ul li a:link {
            color: $off-black;
            line-height: 1.8;
        }

        ul li a:visited {
            color: $off-black;
        }

        ul li a:hover {
            color: $primary-color;
            text-decoration: underline;
        }

        ul li a:active {
            color: $orange;
        }
    }

    .main-content {
        h5 {
            border-bottom: 1px solid darken($off-white, 10%);
            color: $orange;
            font-weight: bold;
            margin: 0 0 $sm 0;
            padding-bottom: $normal;
        }

        input {
            font-family: $quicksand;
        }

        button.save-profile {
            background-color: $green;
            border: none;
            border-radius: 3px;
            color: $off-white;
            cursor: pointer;
            font-family: $quicksand;
            font-weight: bold;
            margin-left: 3.6rem;
            padding: $normal $lg;
            transition: 0.3s linear all;
        }

        button.save-profile:hover {
            box-shadow: $shadow;
            background-color: darken($green, 10%);
        }
    }
}