.login {
    font-family: $quicksand;
    margin-top: 13rem;

    .login-form {
        background-color: $off-white;
        border-radius: $radius;
        margin: $lg auto;
        width: 50%;
        padding: $xs $md $sm $md;
    }

    .login-form h3 {
        color: $off-black;
        border-bottom: 1px solid darken($off-white, 15%);
        font-size: $md;
        padding-bottom: $sm;
        text-align: center;
    }

    button {
        border: none;
        border-radius: $radius;
        color: $off-white;
        cursor: pointer;
        font-family: $quicksand;
        padding: $normal 0;
        width: 100%;
        transition: 0.3s linear all;
    }

    button[type=submit] {
        background-color: $orange;
    }
    button[type=submit]:hover {
        background-color: darken($orange, 5%);
        box-shadow: $shadow;
    }

    p {
        text-align: center;
    }

    button.login {
        background-color: $green;
        margin-top: $sm;
    }
    button.login:hover {
        background-color: darken($green, 5%);
        box-shadow: $shadow;
    }

    a:hover {
        text-decoration: underline;
    }
}

@media (max-width: $lg-breakpoint) {
    .login-form {
        width: 70% !important;
    }
}

@media (max-width: $md-breakpoint) {
    .login-form {
        width: 90vw !important;
        padding-bottom: $lg !important;
    }

    .login-form h3 {
        font-size: $sm !important;
    }
}