header {
    background-color: $primary-color;

    section {
        display: flex;
        justify-content: space-between;
        padding-left: $md;
        padding-right: $md;
    }

    span.menu-icon {
        display: none;
        color: $off-white;
    }

    section div:first-child {
        width: 70vw;
        display: flex;
    }

    section div:first-child img.logo {
        width: 10rem;
        height: 100%;
        margin-right: $xlg;
        position: relative;
    }

    section div:first-child input[type=search] {
        align-self: center;
        background-color: darken($off-white, 5%);
        border: none;
        border-radius: 3px;
        padding-left: $xs;    
        padding-right: $xs;    
        transition: 0.2s linear all;
    }
    section div:first-child input[type=search]::placeholder {
        font-family: $quicksand;
    }
    section div:first-child input[type=search]:focus {
        background-color: #fff;
        border: none !important;
        box-shadow: none !important;
    }

    .search-icon {
        color: $off-white;
    }

    section div:first-child button {
        align-self: center;
        height: 3.6rem;
        background-color: $orange;
        border: none;
        cursor: pointer;
        margin-left: -2rem;
        margin-top: -0.55rem;
        height: 61%;
        padding: 0 $normal;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        transition: 0.2s linear all;
    }
    section div:first-child button:hover {
        background-color: darken($orange, 2%);
    }

    section div:last-child {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 20vw;
    }

    section div:last-child a:last-child {
        background-color: $orange;
        color: $off-white;
        border-radius: 3px;
        padding: $xs $normal;
        transition: 0.2s linear all;
    }
    section div:last-child a:last-child:hover {
        background-color: darken($orange, 2%);
        box-shadow: $shadow;
    }

    .greeting {
        padding: $xs $normal;
        font-weight: bold;
    }

    .greeting:hover {
        color: $orange;
    }

    .dropdown-icon {
        margin-right: $xs;
    }

    section div:last-child .account-dropdown {
        background-color: $white;
        box-shadow: $shadow;
        position: absolute;
        top: $lg;
        left: 78%;
        z-index: 3;
    }

    section div:last-child .account-dropdown li {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    section div:last-child .account-dropdown li:hover {
        background-color: darken($off-white, 10%);
    }

    section div:last-child .account-dropdown li a {
        color: $off-black;
        background-color: transparent;
        box-shadow: none;
    }
    section div:last-child .account-dropdown li a:hover {
        background-color: transparent;
        color: $orange;
        box-shadow: none;
    }

    .logout-button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-family: $quicksand;
        padding: $xs $normal;
        text-align: left;
    }

    .logout-button:visited {
        background-color: transparent !important;
    }

    .logout-button:active {
        background-color: transparent !important;
    }

    .logout-button:hover {
        color: $orange;
    }

    .cart {
        background-color: $success-text;
        border-radius: 3px;
        padding: 0.2rem $xs;
    }

    a.grid-item {
        color: $off-white;
    }

    a.grid-item:hover {
        color: darken($off-white, 5%);
        text-decoration: underline;
    }

    nav {
        background-color: darken($primary-color, 5%);
        box-shadow: none;
    }

    nav .nav-wrapper {
        width: 90%;
        margin: 0 auto;
    }

    nav .nav-wrapper ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: $lg-breakpoint) {
    header section {
        grid-template-columns: 1fr 0;
    }

    section div:first-child {
        width: 100vw !important;
    }

    section div:last-child {
        display: none !important;
    }

    span.menu-icon {
        display: block !important;
        margin-top: $normal;
    }

    .brand-logo {
        margin: 0 auto;
    }

    nav, .grid-item {
        display: none !important;
    }
}

@media (max-width: $md-breakpoint) {
    .brand-logo {
        float: right;
        margin: 0 auto;
        width: $xlg;
    }
}

@supports (-ms-accelerator: true) {
    /* Edge only */

    header section {
        grid-template-columns: 3fr 1fr !important;
    }

    header section div:last-child {
        justify-content: space-evenly !important;
    }
  
    nav .nav-wrapper ul {
      justify-content: space-around !important;
      /* you can also add some other adjustments to size, margins etc to get the same positioning */
    }
}