.products {
    .product .card {
        border: 1px solid darken($off-white, 15%);
        box-shadow: none;
        transition: 0.3s linear all;
    }

    .card .card-image img {
        max-height: 15rem;
        width: 100%;
    }

    .product .card:hover {
        box-shadow: 0 0 10px lighten($off-black, 25%);
    }

    .product a {
        color: $off-black;
    }

    .card .card-content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .product h5 {
        color: lighten($off-black, 5%);
        font-weight: bold;
    }

    .product h5 {
        margin: 0;
    }
}